/*!
 * Start Bootstrap - Grayscale v5.0.9 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

#mainNav {
  min-height: 56px;
  background-color: rgba(103, 236, 62, 0.945);
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #14dd36;
  border: 1px solid #67dd84;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #17e217;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(rgba(29, 236, 11, 0.897), 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(22, 235, 68, 0.829);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(35, 231, 17, 0.911);
  }
  #mainNav .nav-link:hover {
    color: rgba(37, 245, 54, 0.829);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: rgba(35, 241, 69, 0.76);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #0df119;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #10eb59;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #1cf115;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #11e935;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #29fa0e;
    outline: none;
    border-bottom: 0.25rem solid #28f10d;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(12, 245, 12, 0.836) 0%, rgba(56, 235, 11, 0.7) 75%, #0fe019fb 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(20, 236, 56, 0.9), rgba(9, 238, 66, 0.877));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(55, 221, 21, 0.897) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #21dd08;
}

.btn-primary:hover {
  background-color: #28da45;
}

.btn-primary:focus {
  background-color: #13ec54;
  color: white;
}

.btn-primary:active {
  background-color: #2ee20a !important;
}

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #5ef507 0%, rgba(32, 233, 14, 0.9) 75%, rgba(12, 243, 62, 0.877) 100%);
}

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #12e70bfa;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #0be41d;
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(34, 241, 7, 0.822) 0%, rgba(12, 231, 23, 0.89) 75%, #39ee15 100%), url("../img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(23, 218, 39, 0.795) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #3efa0f;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #0de618;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(30, 233, 11, 0.897);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(14, 231, 32, 0.911);
}

.contact-section .social a:hover {
  color: rgba(26, 243, 73, 0.719);
}

.contact-section .social a:active {
  color: rgba(138, 240, 80, 0.836);
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #1ef06f;
}

a:focus, a:hover {
  text-decoration: none;
  color: #13e471;
}

.bg-black {
  background-color: #0cd638 !important;
}

.bg-primary {
  background-color: #0feb2c !important;
}

.text-primary {
  color: #14f144 !important;
}

footer {
  padding: 5rem 0;
}
